<div class="home_page">
<app-home-carousel [image_result]="home_carousel_results" [screen_size]="check_mobile" ></app-home-carousel>
<app-carousel-template [image_result]="continue_results" [title]="continue_title" [screen_size]="check_mobile" ></app-carousel-template>
<app-carousel-template [image_result]="image_result" [title]="popular_movie_title" [screen_size]="check_mobile" ></app-carousel-template>
<app-carousel-template [image_result]="top_rated_results" [title]="top_rated_title" [screen_size]="check_mobile" ></app-carousel-template>
<app-carousel-template [image_result]="trending_movie_results" [title]="trending_movie_title" [screen_size]="check_mobile" ></app-carousel-template>

<app-carousel-template [image_result]="popular_tv_results" [title]="popular_tv_title" [screen_size]="check_mobile" ></app-carousel-template>
<app-carousel-template [image_result]="top_tv_results" [title]="top_tv_title"  [screen_size]="check_mobile" ></app-carousel-template>
<app-carousel-template [image_result]="trending_tv_results" [title]="trending_tv_title" [screen_size]="check_mobile"  ></app-carousel-template>
</div>